@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.container{
    display: flex;
    height: 80vh;
    width: 100%;
}

.first-container {
    width: 50%;
    height: 80vh;
}

header {
    height: 10vh;
    margin: 0;
    display: flex;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2 {
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
}


.nav {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.menu a:hover, .footer-menu a:hover, .social-media a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 20%;

}

.icons i {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.main {
    height: 70vh;
    width: 100%;

}

.main-heading {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 80px;
}

.description {
    height: 10vh;
    font-size: 16px;
}

.description p {
    margin:  0 auto;
    font-style: italic;
    letter-spacing: 0.6px;
    text-align: center;
}

.button {
    height: 10vh;
}

button {
    margin-left: 125px;
    margin-top:20px ;
    height: 40px;
    width: 15%;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.second-container {
    width: 50%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holding-cup{
    position: absolute;
    transform: scaleX(-1);
    top: -15px;
    height: 80vh;
    animation: fadein 5s;
}

.menu-title {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family:'Merriweather Sans', sans-serif;
    letter-spacing: 0.2rem;
}

#menu {
    height: 100vh;
    width: 100%;
    display: flex;
}

.menu {
    height: 100vh;
    width: 50%;
}

.menu-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-image img {
    height: 100%;
    width: 80%;
    opacity: 0.8;
}

.menu-pictures {
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
}

.ingredients {
    position: relative;
    height: 60%;
    width: 90%;
    bottom: 200px;
}

.ingredients p{
    opacity: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;

}


.ingredients p:hover {
    opacity: 1;
    color: white;
    background-color: rgba(0,0 , 0,0.3)
}

.menu-pic img {
    height: 350px;
    width: 90%;
    opacity: 0;
    animation: fadein 5s;
    animation-fill-mode: forwards;
    box-shadow: 2px 5px 5px;
}

.two {
    margin-top: 300px;

}

.one img {
    animation-delay: 1s;
}


.two img {
    animation-delay: 2s;
}


.three img {
    animation-delay: 3s;
}


.four, .six {
    position: relative;
    bottom: 350px;
}

 .four img {
    animation-delay: 4s;
}


.six img {
    animation-delay: 5s;
}


h4 {
    text-align: center;
    font-size: 20px;
    font-family:  'Merriweather Sans', sans-serif;
    padding-right: 50px;
}

.checkout-container {
    margin-top: 100px;
}


.check{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 50px;
}

.about-container {
    margin-top: 100px;
}


.about-container h2 {
    text-align:  center ;
    font-size: 40px;
    font-family: 'Merriweather Sans',sans-serif;
    margin-left: 25px;
    letter-spacing: 0.2rem;
}

.info{
    height: 82vh;
    width: 100%;
    display: flex;
}
.about-desc {
    height: 100%;
    width: 70%;
    margin: 0 20px;
    margin-top: 150px;
}

.about-image {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;

}

.about-image  img{
    height: 90%;

}

.about-desc p {
    font-size: 25px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}

.about-desc .top {
    margin-top: 50px;
}

.contact-container {
    height: 17vh;
    margin-top: 150px;
    font-family: 'Merriweather Sans', sans-serif;
}

.footer-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px ;
}

.footer-info {
    display: flex;
    height: 100%;
    justify-content: center;
}


.footer-logo {
    height: 100%;
    width: 30%;
    border-right: 2px solid black;
}

.footer-logo h2 {
    text-align: center;
}

.footer-menu, .social-media {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    text-align: center;

}

.social-media {
    border: none;
}

.footer-menu h2, .social-media h2 {
    margin: 0;
}

.footer-menu a, .social-media a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
}


.copyright {
    font-size: 15px;
    text-align: center;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
